@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background: #85090E;
}

select{
    margin: auto;
}

td:first-of-type, th:first-of-type{
    padding-left: 1rem;
}

td, th{
    padding-right: 0.3rem;
    padding-left:  0.3rem;
}
td:last-of-type, th:last-of-type{
    padding-right: 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

button::-moz-focus-inner {
    border: 0;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.iframe{
    width: 50vh;
    height: 80vh;
}