@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background: transparent;
    min-height: 100%;
}

select{
    margin: auto;
}

td:first-of-type, th:first-of-type{
    padding-left: 1rem;
}

td, th{
    padding-right: 0.3rem;
    padding-left:  0.3rem;
}
td:last-of-type, th:last-of-type{
    padding-right: 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

button::-moz-focus-inner {
    border: 0;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.grayScale{
    filter: grayscale(100%);
}

.iframe{
    width: 50vh;
    height: 80vh;
}

.svgResponse{
    width: inherit;
    height: inherit;
}

.oval{
    border-radius: 50%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.blurry-text {
    text-shadow: 0 0 10px black;
    color: transparent;
}

.h-huge{
    height: 100vh;
}
